@CHARSET "ISO-8859-1";

body
{
    background-color: black;
    color: white;
}

#bouton-neon-garage
{
	color: red;
	width: 20%;
	margin: auto;
	align: center;
	text-align: center;
}

#bouton-lumiere-ext
{
	color: red;
	width: 20%;
	margin: auto;
	align: center;
	text-align: center;
}